<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div>
    
      <h1><%= @recipe.title %></h1>
    </div>
    
    <%= image_tag @recipe.avatar.url(:thumb) %>
    <p>
      <strong>Rating:</strong>
        <% @recipe.rating.times do%>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
    </p>
    
    
    <div class="text-left panel panel-default">
      <div class="panel-heading">
        <h3>Instructions:</h3>
      </div>
      <div class="panel-body">
        <p><%= @recipe.instructions %></p>
      </div>
    </div>
    <div class="text-left panel panel-default">
      <div class="panel-heading">
        <h3>Ingredients:</h3>
      </div>
      <div class="panel-body">
        <% @recipe.ingredients.each do |ingredient| %>
          <p><%= ingredient.name %></li>
        <% end %>
        <% if current_user == @recipe.user %>
          <h3>Add Ingredient</h3>
          <%= render 'ingredients/form' %>
        <% end %>
      </div>
    </div>
    
    
    
    
    <div class="text-left panel panel-default">
      <div class="panel-heading">
        <h3>Comments</h3>
      </div>
      <div class="panel-body">
        <% @recipe.comments.each do |comment| %>
          <p><%= comment.content %><p>
        <% end %>
      
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>
<% if current_user == @recipe.user %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Back', recipes_path %>
<% end %>
