<h1><%= @user.email %>'s Page</h1>

<p><strong>Email:</strong> <%= @user.email %></p>

<%= image_tag @user.avatar.url(:thumb) %>


<div class="row">
    <div class="col-md-12">
        <% @user.recipes.each do |recipe| %>
        
        <%= link_to recipe.title, recipe %>
        <h4>
          <% recipe.rating.times do%>
              <span class="glyphicon glyphicon-star"></span>
          <% end %>
        </h4>
    
    
            <% if current_user.id == recipe.user.id %>
                <div class="panel-footer">
            
                  <%= link_to 'Edit', edit_recipe_path(recipe), class:"btn btn-warning" %>
            
                  <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
                </div>
            <% end %>
        <% end %>
    </div>

</div>


